{% extends 'portfolio/layout.html' %}

{% block content %}
<section class="product-content">
    <div style="display: flex; justify-content: center; align-items: center; height: 10vh; margin-bottom: 20px;">
    <h2>1st Year</h2>
    </div>
    <div class="product-grid">
        <div class="product-item">
            <a href=" https://susanawuwang.wixsite.com/susana-wang" target="_blank">
                <img src="/media/portfolio/icons8-retomar-o-site-64.png" width="64px">
                <div class="description">
                    <h3>Portefólio</h3>
                    <p>Este portefólio foi desenvolvido no 1º ano e descreve um portefólio realista com CV, skills, entre outros.</p>
                    <a href="{% url 'bandas:bandas' %}" target="_blank">Click <u>HERE</u> to see for yourself</a>
                </div>
            </a>
        </div>

    </div>
</section>
{% endblock %}
