{% extends 'portfolio/layout.html' %}


{% block content %}
<section class="product-content">
    <div style="display: flex; justify-content: center; align-items: center; height: 10vh; margin-bottom: 20px;">
    <h2>2nd Year</h2>
    </div>
    <div class="product-grid">
        <div class="product-item">
            <a href="{% url 'bandas:bandas' %}" target="_blank">
                <img src="/media/portfolio/icons8-bands-64.png" width="64px">
                <div class="description">
                    <h3>Aplicação Bandas</h3>
                    <p>A aplicação Bandas é uma aplicação que desenvolvemos na cadeira de Programação Web onde mostramos as bandas, os seus membros, os seus álbums e ainda as suas músicas.  </p>
                    <a href="{% url 'bandas:bandas' %}" target="_blank">Click <u>HERE</u> to see for yourself</a>
                </div>
            </a>
        </div>
        <div class="product-item">
            <a href="{% url 'blogs:index' %}" target="_blank">
                <img src="/media/portfolio/icons8-blog-64.png" width="64px">
                <div class="description">
                    <h3>Aplicação Artigos</h3>
                    <p>A aplicação Artigos é uma aplicação que desenvolvemos na cadeira de Programação Web onde apresentamos artigos com os seus respetivos autores e os seus perfis e ainda comentários e ratings.</p>
                    <a href="{% url 'blogs:index' %}" target="_blank">Click <u>HERE</u> to see for yourself</a>
                </div>
            </a>
        </div>
        <div class="product-item">
            <a href="{% url 'cursos:cursos' %}" target="_blank">
                <img src="/media/portfolio/icons8-universidade-60.png" width="64px">
                <div class="description">
                    <h3>Aplicação Curso</h3>
                    <p>A aplicação Curso é uma aplicação que desenvolvemos na cadeira de Programação Web onde podemos ver as nossas cadeiras com as seus respetivas características : docentes, projetos, entre outros em detalhe. </p>
                    <a href="{% url 'cursos:cursos' %}" target="_blank">Click <u>HERE</u> to see for yourself</a>
                </div>
            </a>
        </div>
        <div class="product-item">
            <a href="https://github.com/marianalivramento/Kirby-Adventures-DEISI-Chess.git" target="_blank">
                <img src="/media/portfolio/icons8-jogo-de-xadrez-100.png" width="64px">
                <div class="description">
                    <h3>DEISI Chess</h3>
                    <p>Projeto em Java que densenvolvemos que simula o jogo de xadrez mas com um twist.</p>
                    <a href="https://github.com/marianalivramento/Kirby-Adventures-DEISI-Chess.git" target="_blank">Click <u>HERE</u> to see for yourself</a>
                </div>
            </a>
        </div>
        <div class="product-item">
            <img src="/media/portfolio/icons8-tempo-chuvoso-100.png" width="64px">
            <div class="description">
                <h3>Meteorologia</h3>
                <p>A aplicação Meteorologia é uma aplicação que desenvolvemos na cadeira de Programação Web.</p>
               <a href="{% url 'meteo:index' %}" target="_blank">Click <u>HERE</u> to see for yourself</a>
            </div>
        </div>
        <div class="product-item">
            <img src="/media/portfolio/icons8-praia-64.png" width="64px">
            <div class="description">
                <h3>Aplicação Praias</h3>
                <p>A aplicação Praias é uma aplicação que desenvolvemos na cadeira de Programação Web, mais em específico no segundo miniteste.</p>
                <a href="{% url 'praias:praias' %}" target="_blank">Click <u>HERE</u> to see for yourself</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
