{% extends 'portfolio/layout.html' %}

{% block title %}
Suzy's Store - Portfolio
{% endblock %}

{% block content %}

<section class="faq">
    <h2>Frequently Asked Questions</h2>
    <div class="faq-item">
        <h3>Who are you?</h3>
        <p class="faq-answer">I'm Susana. Susana Wang. (That was a James bond reference did you catch it?) But most people just call me Suzy.</p>
    </div>
    <div class="faq-item">
        <h3>Why did you decide to take your current uni course?</h3>
        <p class="faq-answer">Well, I took interest in this specific area because of a class I took in high school.</p>
    </div>
    <div class="faq-item">
        <h3>Why do you speak portuguese so well? (/j)</h3>
        <p class="faq-answer">That's an easy answer! It's because I was born here and grew up here in Portugal.</p>
    </div>
    <div class="faq-item">
        <h3>What type of asian are you exactly?(/j)</h3>
        <p class="faq-answer">Many people ask me this question so I'll answer here for everyone: I'm of Chinese descent. Bye, no more questions about this please.</p>
    </div>
</section>
{% endblock %}
