{% extends 'portfolio/layout.html' %}

{% block content %}
<section class="skills">
    <h2>Programming Skills</h2>
    <ul class="skill-list">
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>Python</li>
        <li>Java</li>
        <li>Kotlin</li>
        <li>SQL</li>
        <li>C#</li>
        <li>C</li>
    </ul>

    <h2>Language Skills</h2>
    <ul class="skill-list">
        <li>Cambridge Advanced Exam</li>
        <li>DELF scholaire - B1</li>
        <li>Chinese</li>
        <li>Portuguese</li>
    </ul>
</section>
{% endblock %}
