<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Suzy's playlist{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bandas/estilos.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5d1319edfb.js" crossorigin="anonymous"></script>
    {% block style %}{% endblock %}
</head>
<body>
    <header>
        <h1>Playlist</h1>
        <nav>
            <ul>
                <li><a href="{% url 'bandas:bandas' %}">Menu Principal</a></li>
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main id="main-content">
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>No copyrights infringed.</p>
    </footer>
</body>
</html>
