{% extends 'curso/layout.html' %}

{% block content %}
    <h2>Confirmar Apagar Docente</h2>
    <p>Tem certeza que deseja apagar o docente "{{ docente }}"?</p>
    <form method="post" action="{% url 'cursos:apaga_docente' docente.id %}">
        {% csrf_token %}
        <button type="submit" class="btn-delete">Sim, Apagar</button>
        <a href="{% url 'cursos:disciplina' docente.disciplinas.first.id %}"><button type="button" class="btn-cancel">Cancelar</button></a>
    </form>
{% endblock %}
