<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova App</title>
    <style>
        body {
            background: red;
            color: white;
        }
    </style>
</head>
<body>
    <header>
        <h1>Nova app</h1>
    </header>

    <nav>
        <a href="{% url 'novaapp:index' %}">Index Qualquer</a>
        <a href="{% url 'novaapp:example' %}">Exemplo</a>
        <a href="{% url 'novaapp:conclusion' %}">Conclusão</a>
    </nav>

    <main>
        <h2>Exemplo de uma página:</h2>
        <p>Bla bla Bla bLa BLA bLA blA</p>

    </main>

    <footer>
        <p> Todos os direitos reservados à Suzy.</p>
    </footer>

</body>
</html>